.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 30px;
}

.navbar h2 {
  margin: 0;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: #667eea;
}
navbar {
  background: red;
}